<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
        {{ form.username }}
        {{ form.username.errors }}

        <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
        {{ form.email }}
        {{ form.email.errors }}

        <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}

        <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}

        <button type="submit">Registrarse</button>
    </form>
</body>
</html>

